/**********************BASIC SELECTORS***********************/
* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    color: initial;
}

body {
    background: rgb(147,255,192);
    background: linear-gradient(90deg, rgba(147,255,192,1) 41, rgba(227,255,138,1) 100%);
    font-family: 'Playfair Display', serif;
}


footer {
    align-items: center;
    display: flex;
    grid-row: -1/ -2;
    grid-column: 1/-1;
    font-size: 2.2vh;
    justify-content: center;
    line-height: 2;

}

h1 {
    font-size: 270%;
}

h2 {
    font-size: 230%;
}

nav {
    background: rgba(185, 218, 100, 0.862);
    grid-row: 2/-2;
    grid-column: 1/2;
    
}

section {
    line-height: 2;
    height: 76vh;
    display: block;
    margin: 11vh 0;
    padding: 2.5vh 2vw;
}

ul {
    list-style: none;
}

/*****************************************************/

.d-body {
    background: rgb(82,25,126);
    background: linear-gradient(95deg, rgba(82,25,126,0.8914916308320203) 75%, rgba(37,32,80,0.8718837876947654) 81%);
}
.dm-nav {
    background: rgb(14 49 86 / 55%);
}

.darker-nav {
    background-color: rgb(25 0 61 / 24%);
}

.place-aside {
    border-color: rgb(14 49 86 / 55%);
}

.p-details{
    border-color: rgb(14 49 86 / 55%);
}
.feedback{
    border-color: rgb(14 49 86 / 55%);
}

/**********************CLASS SELECTORS***********************/


.dark-nav {
    background-color: rgba(144, 185, 41, 0.86);

}

.ext-link-img {
    width: 1.5vw;
}

.logo {
    justify-self: flex-start;
    align-self: center;
    height: 8vh;
    
}

.sec-h2 {
    font-style: italic;
}


.logo-table {
    max-width: fit-content;
    justify-content: flex-start;
    grid-column: 1/2;
    margin-left: 1vw;
    
}

.logo-table:hover {
    background-color: rgb(130, 233, 173, 0.5);
    
}

.main {
    background-color: rgb(252, 255, 246);
    grid-row: 2/ auto;
    grid-column: 2/3;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
} 
.main::-webkit-scrollbar {
    display: none;
}


.main-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-row: 1/2;
    grid-column: 1/-1;
    align-items: center;
    
}


.site {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows:1fr 8fr 1fr;
    height: 100vh;
    width: 100vw;
    padding: 0.5vh 0;
    
}


.user {
    align-self: center;
    justify-self: end;
    grid-column: -1/-2;
    height: 6vh;
    margin-right: 1vw;
}

/* 
Regular space: &nbsp;
Two spaces gap: &ensp;
Four spaces gap: &emsp; */

/**********************ID SELECTORS***********************/


#main-heading {
    display: inline;
    font-family: 'Secular One', sans-serif;
    align-self: stretch;
    font-size: 4vh;
    
}



/********************** SECTIONS ****************************/
.head-sec {
    line-height: 3;
    text-align: center;
    /* margin: 7vh 1vw 6vh 2.5vw; */
}



/**********************HADER SECTIONS ****************************/


/**********************NARUTO SECTION ****************************/

.btn {
	box-shadow: 0 0.1vh 0 0 #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:1.2vh;
	border:0.1vh solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:2vh;
	font-weight:bold;
	padding: 1vh 6.8vw;
	text-decoration:none;
	text-shadow:0 0.1vh 0 #ffee66;
}
.btn:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.btn:active {
	position:relative;
	top:0.1vh;
}

.naruto-aside {
    align-self: center;
    grid-column: -1/-2;
    text-align: right;
}

.naruto-art {
    grid-row: 1/2;
    grid-column: 1/2;
    display: inline;
}

.show-div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1/2;
    
    
}

/**********************ID SELECTORS***********************/
#naruto-img {
    border-radius: 1vh;
    height: 50vh;
}


/**********************PLACE SECTION ****************************/

.place-art {
    grid-column: 1/2;
    display: grid;
}

.place-desc-sec{
    grid-row: 1/-2;
}


.place-aside {
    border: solid 0.5vh;
    border-color: rgba(185, 218, 100, 0.862);
    border-radius: 1vh;
    margin-top: 6vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 83%;

}

.place-sec {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2vw;
}

aside.place-aside li {
    height: 26.7vh;
}

li:hover .large {
    /* position: initial; */
    left: 21vw;
    top: 13vh;
    
  }

.large {
    position: absolute;
    left: -3333rem;
}

.lrg-img {
    width: 51vw;
}


.p-sm-img {
    height: 26vh;
    width: 22.5vw;
}


.why-i-like-place {
    grid-row: 2/3;
    grid-column: 1/2
    
}
/**********************FORM SECTION ****************************/

div.p-details {
    padding: 1.5vh;
    margin: 1.5vh 0;
}

div.feedback{
    padding: 1.5vh;
}
div.feedback {
    margin: 2vh 0;
}

div.rate-btns p { 
    display: inline;
    
    font-size: 1.5vw;
}

.feedback {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid 0.2vh;
    border-color: rgba(144, 185, 41, 0.86);
    height: fit-content;

}

.form-div {
    display: flex;
    flex-direction: column;
}

.form-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.form-item-date input {
    width: 11vw;
}

.form-sec {
    line-height: 1.5;
    /* margin: 1vh 0 2vh 0; */
}

.txt-input {
    border: solid 0.2vh;
    border-color: rgba(0, 0, 0, 0.329);
    border-radius: 1.5vh;
    height: 3.5vh;
}


.msg {
    display: flex;
    gap: 2vw;
    grid-column: -1/-2;

}

.p-details-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
}

.p-details {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    border: solid 0.2vh;
    border-color: rgba(144, 185, 41, 0.86);

}
.phone-date {
    display: flex;
    flex-direction: column;
}


.values {
    display: flex;
    gap: 1vw;
}

textarea {
    background-color: #87808054;
    border-radius: 2vh;
    padding: 1.5vh;
    width: 65%;
    height: 70%;
}

.rate {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row: 2;
    width: 30vw;
}

.rate-btns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
}

.rate-src {
    display: flex;
    flex-direction: column;
}

.rd-input {
    width: 1vw;
}


select {
    width: 18.2vw;
    border: solid 0.2vh;
    border-color: rgba(0, 0, 0, 0.329);
    border-radius: 1.5vh;
    height: 3.5vh;
    
}
.source {
    margin: 3vh 0;
}

.submit-form {
    display: flex;
    gap: 2vw;
}

.submit-form input {
    border: solid 0.2vh;
    border-color: rgba(0, 0, 0, 0.329);
    border-radius: 1.5vh;
    padding: 1vh 3vw 1vh 2vw;
    text-indent: 1vw;
}

.submit-form input:hover {
    background-color: rgba(103, 91, 91, 0.247);
}

.submit-form input:active {
    position:relative;
	top:0.1vh;      
}

div.rate label {
    grid-column: 1/2;
}





/**********************CONTAINED TAG SELECTORS***********************/

nav > ul > li {
    padding: 1.8vw;
    font-size: 2.2vh;
    font-weight: 700;
}

.p-details-div input {
    width: 20vw;
    text-indent: 1vw;
}


/* ************************** MEDIAS **************************************/

/* BIG SCREENS */
@media screen and (width > 1400px) {
    
    section {
        font-size: 2.5vh;
        display: grid;
        height: 85vh;
        width: 80vw;
        padding: 0.5vh 1vw;
    }

}

/* PHONES */

@media screen and (width < 481px) {
    .site {
        display: flex;
        flex-direction: column;
    }

    section {
        line-height: 1.2;
        height: 84vh;
        display: block;
        margin: 10vh 0;
        padding: 2.5vh 2vw;
    }

    .head-sec {
        height: 55vh;
        margin: 4vh 0;
    }

    .show-div {
        display: initial;
    }

    .place-sec {
        height: 70vh;
    }

    .form-sec {
        line-height: 1.5;
        margin: 1vh 0;
    }

    .main {
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    } 
    .main::-webkit-scrollbar {
        display: none;
    }

    .nav-list {
        display: flex;
    }

    .img-ul {
        display: flex;
        flex-direction: column;
    }
    
    nav > ul > li {
        padding: 1.8vw;
        font-size: 1.2vh;
        font-weight: 400;
    }

    
    h1 {
        /* font-size: 100%; */
    }

    #naruto-img {
        margin-top: 2vh;    
    }
}

/* @media screen and (width < 789px) {
    section {
        line-height: 1.3;
        height: 90vh;
        display: block;
        margin: 11vh 0;
        padding: 2.5vh 2vw;
    } 

    h1 {
        font-size: 160%;
    }

    h2 {
        font-size: 120%;
    }
} */