/**********************TAG SELECTORS***********************/
* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    color: initial;
}

body {
    background: rgb(147,255,192);
    background: linear-gradient(90deg, rgba(147,255,192,1) 41%, rgba(227,255,138,1) 100%);
    font-family: 'Playfair Display', serif;
}


footer {
    align-items: center;
    display: flex;
    grid-row: -1/ -2;
    grid-column: 1/-1;
    font-size: 18px;
    justify-content: center;
    line-height: 2;

}

h1 {
    font-size: 7vh;
}

h2 {
    font-size: 4vh;
}

nav {
    background: rgba(185, 218, 100, 0.862);
    grid-row: 2/-2;
    grid-column: 1/2;
    
}

ul {
    list-style: none;
}


section {
    height: 75vh;
    line-height: 2;
    margin: 6vh 1vw 1vh 2.5vw;
}

/**********************CLASS SELECTORS***********************/

.btn {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:7px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 79px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.btn:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.btn:active {
	position:relative;
	top:1px;
}

.dark-nav {
    background-color: rgba(144, 185, 41, 0.86);

}

.logo {
    justify-self: flex-start;
    align-self: center;
    height: 8vh;
    
}

.sec-h2 {
    font-style: italic;
}


.logo-table {
    max-width: fit-content;
    justify-content: flex-start;
    grid-column: 1/2;
    margin-left: 1vw;
    
}

.logo-table:hover {
    background-color: rgb(130, 233, 173, 0.5);
    
}

.main {
    background-color: rgb(252, 255, 246);
    grid-row: 2/ auto;
    grid-column: 2/3;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
} 
.main::-webkit-scrollbar {
    display: none;
}


.main-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-row: 1/2;
    grid-column: 1/-1;
    align-items: center;
    
}

.naruto-aside {
    align-self: center;
    grid-column: -1/-2;
    text-align: right;
}

.naruto-art {
    grid-row: 1/2;
    grid-column: 1/2;
    display: inline;
}

.site {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows:1fr 7fr 1fr;
    height: 100vh;
    width: 100vw;
    
}


.place-art {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.place-desc-sec{
    grid-row: 1/-2;
}


.place-aside {
    border: solid 4px;
    border-color: rgba(185, 218, 100, 0.862);
    margin-top: 6vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}


.p-sm-img {
    margin: 0.1vh 0;
    

}

.p-sm-img:hover {
    
    visibility: visible;
}

.p-lrg-img {
    visibility: hidden;
    grid-row: 1/-2;
    grid-column: 1/2;
}
.why-i-like-sec {
    grid-row: 2/3;
    grid-column: 1/2
    
}

.user {
    align-self: center;
    justify-self: end;
    grid-column: -1/-2;
    height: 6vh;
    margin-right: 1vw;
}

/* 
Regular space: &nbsp;
Two spaces gap: &ensp;
Four spaces gap: &emsp; */

/**********************ID SELECTORS***********************/


#main-heading {
    display: inline;
    font-family: 'Secular One', sans-serif;
    align-self: stretch;
    font-size: 4vh;
    
}

/********************** SECTIONS ****************************/
.head-sec {
    line-height: 3;
    text-align: center;
}

.show-sec {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1/2;
    
}

.place-sec {
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}


/**********************FORM SECTIONS ****************************/

div.feedback {
    margin: 2vh 0;
}

div.rate-btns p { 
    display: inline;
    
    font-size: 1.2vw;
}

.feedback {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.form-item-date input {
    width: 11vw;
}

input {
    border: solid 2px;
    border-color: rgba(0, 0, 0, 0.329);
    border-radius: 10px;
    height: 3.5vh;
}

.msg {
    grid-column: -1/-2;
}

.name-email {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
}

.p-details {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.phone-date {
    display: flex;
    flex-direction: column;
}


.values {
    display: flex;
    gap: 1vw;
}

.rate {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row: 2;
    width: 30vw;
}

.rate-btns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
}

.rd-input {
    width: 1vw;
}

select {
    width: 18.2vw;
    border: solid 2px;
    border-color: rgba(0, 0, 0, 0.329);
    border-radius: 1.5vh;
    height: 3.5vh;
    
}
.source {
}

div.rate label {
    grid-column: 1/2;
}





/**********************CONTAINED TAGS SELECTORS***********************/

nav > ul > li {
    padding: 10px;
    font-size: 2.6vh;
    font-weight: 700;
}

.name-email input {
    width: 20vw;
    text-indent: 1vw;
}

